<div style="position: relative;">
	<img class="recipeImage" src='<%= images[0].hostedLargeUrl %>' style="width: 100%" />
	<div class="data" style="padding: 0 10px;">
		<h3><%= name %></h3>
	</div>
</div>
<div class="details-content">	
	<ul data-role="listview" class="ingredients">
		<li data-role="list-divider" data-theme="c">
			<strong>Info</strong>
			<span class="ui-li-count">
				Serving/s: <strong><%= numberOfServings %></strong>
				<% if (totalTimeInSeconds) { %>
					- Cooking time: <strong><%= totalTimeInSeconds / 60 %>'</strong>
				<% } %>	
			</span>
		</li>		
		<li>
			<div data-use="rating"></div>
		</li>
		<li>
			<a href='<%= source.sourceSiteUrl %>'>Recipe by <strong><%= source.sourceDisplayName %></strong></a>
		</li>			
		<li data-role="list-divider" data-theme="c">
			<strong>Ingredients</strong>
		</li>
		<% _.each(ingredientLines, function(ingredient) { %>
	    <li class="ingredient">
	        <%= ingredient %>
	    </li>
		<% }); %>
		<li data-role="list-divider" data-theme="c">
			<strong>Nutritional estimates</strong>
		</li>		
		<% _.each(nutritionEstimates, function(nutrition) { %>
	    <li>
	        <strong><%= nutrition.description %></strong>: <%= nutrition.value %><%= nutrition.unit.abbreviation %>
	    </li>
		<% }); %>
		<li data-role="list-divider" data-theme="c">
			<strong>Cooking instructions (from "<%= source.sourceDisplayName %>") </strong>
		</li>
		<li>
			<a href='<%= source.sourceRecipeUrl %>'><strong>Read all the instructions</strong></a>
		</li>
	</ul>	
</div>

